{% extends "base.html" %}
{% block content %}

<div class='info'> {{info_msg if info_msg != None}} </div>


<table />
<thread>
	<th>Original</th>
	<th>Transform_1</th>
	<th>Transform_2</th>
	<th>Transform_3</th>
</thread>

{% for row in cursor %}
<tr>



	<td>
        <a href="{{ url_for("view_img", fname=row[2]) }}" method="GET">

            <img src="https://s3.amazonaws.com/ece1779b/{{row[2]}}" alt="image" class="thumbnail"/>
        </a>
    </td>
	<td><img src="https://s3.amazonaws.com/ece1779b/{{row[3]}}" alt="image" height="300"/></td>
	<td><img src="https://s3.amazonaws.com/ece1779b/{{row[4]}}" alt="image" height="300"/></td>
	<td><img src="https://s3.amazonaws.com/ece1779b/{{row[5]}}" alt="image" height="300"/></td>
</tr>
{% endfor %}

</table>

{% endblock %}