{% extends "base.html" %}
{% block content %}
    <div class='error'>{{error_msg if error_mag != None}}</div>
    
    
    
 
     <h2>Pool Auto Scale by CPU Usage </h2>
     
        <div> 
        <label>Max CPU Usage (%) for Scale up</label>
        <input type='text' name='maxCPU' value='{{maxCPU if maxCPU  != None}}'>
        </div>
        
        <div>
        <label>Min CPU Usage (%) for Scale down</label>
        <input type='text' name='minCPU' value='{{minCPU if minCPU  != None}}'>
        </div>

        <div><input type="submit" value="Apply"></div>
    </form>
    
     <h2>Pool Auto Scale by Ratio </h2>
     
        <div> 
        <label>Scale Up Ratio </label>
        <input type='text' name='scale_up_ratio' value='{{maxCPU if maxCPU  != None}}'>
        </div>
        
        <div>
        <label>Scale Down Ratio</label>
        <input type='text' name='scale_down_ratio' value='{{minCPU if minCPU  != None}}'>
        </div>

        <div><input type="submit" value="Apply"></div>
     
{% endblock %}